!!! 5
html
    head
        title My First Application using Express
        link(rel='stylesheet', href='/stylesheets/styles.css')
    body
        h1 Cool, Its My First Application in Express.js
        #container!= body
        footer Node.js is really cool and fun!
