body{
  width : 960px;
  margin : auto;  
}

header{
  position : absolute;
  top: 0px;
  text-align : center;
}

footer{
  font-size: smaller;
  position : absolute;
  bottom : 0px;
  text-align : center;
}

span {
  position : absolute;
  top : 50%;
  bottom: 50%;
  text-align: center;
}
